
<nav>
  <ul>
    <li class="nav"><a href="/">Home</a></li>
    <li class="nav"><a href="#">Add a contact</a></li>
    <li class="nav"><a href="/about">About</a></li>
  </ul>
</nav>
<main>
  <h2>There are <%= @all_contacts.count %> contacts</h2>
  <ul>
    <% @all_contacts.each do |contact| %>
        <li ><%= contact.full_name %> (<%= contact.email %>)
          <div class="options">
            <a href="#">Edit</a> | <a href="#">Delete</a>
          </div>

        </li>

        <!-- <li>Note: <%= contact.note %></li> -->

      <% end %>
  </ul>
  <a href="/">Back</a>
</main>
