*,
*::before,
*::after {
  box-sizing:border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*Header and Nav**/
header {
  background-color: #000;
  font-size: 2em;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-weight: bold;


}

nav ul {
  text-align: center;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 0;

}

.nav {
  background-color: #cccccc;
  margin-bottom: 2px;
  padding: 5px;
  width: 100%;

}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover{
  color: red;
}


/*Page Styling */
/*Header*/
h2 {
    background-color: #f9492b;
    padding: 10px;
    font-weight: 400;
    width: 95%;
    margin: 0 auto;
}

h2 span {
  font-weight: bold;
}


/* Contacts Styling */

.contacts {
  margin-left: 0;
  padding-left: 0;
  width: 95%;
  margin: 0 auto;
}
.contact {
  background-color: #00DFCA;
  padding: 20px 15px;
  margin: 10px 0;
  list-style-type: none;
  font-weight: bold;

}

.options, .options a {
  font-weight: normal;
  font-size: 0.9em;
  color: blue;
  margin-top: 5px;
}


/*Footer*/
footer{
  background-color: #000;
  color: #FFF;
  font-size: 0.7em;
  padding: 10px;
  text-align: center;
}
